<h2>Home</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum, arcu non tincidunt scelerisque, risus felis vestibulum arcu, sed sollicitudin quam eros eget nisi. Integer vestibulum risus sed ornare suscipit. Curabitur ullamcorper, dolor nec congue lacinia, magna diam eleifend elit, sit amet auctor odio ligula nec dolor. Vivamus consectetur vitae erat vulputate pulvinar. Etiam at porta nunc. Nam a augue placerat, suscipit lacus placerat, dignissim velit. Mauris ultricies leo arcu, id ullamcorper tellus blandit vel. Sed volutpat lorem volutpat turpis porttitor, ac facilisis quam elementum. Vivamus venenatis tellus in neque consectetur iaculis. Nullam gravida mi sit amet hendrerit vulputate. Cras dui nisl, ullamcorper vitae aliquam eu, vulputate ut enim.</p>

<p>Duis a lectus eget dolor rhoncus imperdiet at nec orci. Duis sodales bibendum turpis malesuada venenatis. In suscipit interdum purus, at aliquam orci malesuada ut. Nunc sit amet eleifend enim. Etiam id ipsum dolor. Nulla imperdiet felis non nibh commodo, quis cursus neque tincidunt. Maecenas tempus rutrum metus, a faucibus urna tincidunt eget.</p>

<p>Integer dictum auctor purus non hendrerit. Integer nisl libero, dignissim quis ultrices ac, imperdiet quis dolor. Nulla viverra arcu orci, nec rutrum quam molestie vitae. Pellentesque a lacus ut nibh accumsan posuere. Cras vitae ipsum sed ex bibendum placerat. Mauris aliquet enim id dapibus pretium. Vestibulum tristique dui arcu, vitae ornare velit rhoncus at. Donec sodales molestie libero, vitae sagittis dolor pretium non. Nunc erat diam, blandit nec massa sed, congue pulvinar felis.</p>

<p>Aenean facilisis, felis vitae eleifend auctor, leo orci pellentesque dolor, id interdum nibh arcu dapibus nisi. Nulla ut tempus nibh, eu volutpat purus. Pellentesque gravida efficitur est sed fringilla. Vestibulum vitae congue est. Integer blandit sit amet ante sed tempor. Suspendisse ultricies eu justo ac molestie. Nunc lorem quam, viverra et lorem quis, sodales sodales arcu. Quisque non est sit amet arcu mattis rhoncus. Vivamus egestas ut diam sed volutpat. Phasellus ut metus et dui pulvinar congue.</p>

<ul class="list-inline">
  <li><%= link_to '12 Lizards', lizards_path(12) %></li>
  <li><%= link_to '444 Lizards', lizards_path(444) %></li>
  <li><%= link_to '9672 Lizards', lizards_path(9672) %></li>
</ul>
